.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hamburger {
    float: left;
}

.title {
    justify-content : center;
}

.help {
    float: right;
}

.table {
    width: 100%;
}