<div>
    <p><a href="https://www.nytimes.com/games/wordle/index.html" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
        <img src="images/New_York_Times_T_icon.svg" height=20 width=20 alt="nyt"/> Wordle at The New York Times
        </a>
    </p>
    <p><a href="https://github.com/craigvdodge/helple" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
        <img src="images/github.svg" height=20 width=20 alt="github"/> Get the source at GitHub
        </a>
    </p>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
}
