<div>
    <p><b>Helple</b> is a filterable word list for playing Wordle (or similar). To
        filter the word list, enter your Wordle guess. Helple will then prompt for the color of each letter
        from the Wordle response. Any words that can be eliminated will then be removed.
    </p>
    <p>You can sort the list either alphabetically or by "score". Words with more unique and frequently occuring
        letters are given a higher relative "score" by Helple. 
    </p>
    <p>
        The word list is broken up into pages. To see other pages, use
        <img src="images/angle-square-left.svg" height="20" width="20" alt="left"/> 
        and <img src="images/angle-square-right.svg" height="20" width="20" alt="right" />
        or you can also swipe left and right if you're on a touch-enabled device.
    </p>  
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

}
