<div>
    <p><b>Helple</b> is a filterable word list to help you when playing the game Wordle (or a similar clone).</p>
    <p>To filter the word list, enter your Wordle guess. You will then be prompted for the color of each letter
        from the response you get from Wordle. Based on this response, any words that can be eliminated as a 
        solution are removed from the list.
    </p>
    <p>You can sort the list either alphabetically or by "score". Words with more unique and frequently occuring
        letters are given a higher relative "score" by Helple. 
    </p>
    <p>
        Since the entire list of words can get quite large, the word list is broken up into pages. To navigate to 
        other pages, use the <img src="images/angle-square-left.svg" height="20" width="20 alt="left"/> 
        and <img src="images/angle-square-right.svg" height="20" width="20" alt="right" />
        buttons, or you can also swipe left or right if you're using a touch-enabled device.
    </p>
    
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

}
