<div>
    <p>
        <label>Sort word list:</label>
        <select @bind="settingsModel.SortOrder">
                @foreach (var s in Enum.GetValues<SortOrder>())
                {
                    <option>@s.ToString()</option>
                }
            </select>
    </p>
    <hr />
    <p>
        <img src="images/disk.svg" width=25 height=25 style="padding: 3px" @onclick="SaveAndClose" alt="save" /><label @onclick="SaveAndClose">Save Settings</label>
    </p>
</div>

@inject Blazored.LocalStorage.ILocalStorageService localStorage

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private SettingsModel? settingsModel;

    public enum SortBy
    {
        Alphabetical = 0,
        Score
    }

    private SortBy sortby = SortBy.Alphabetical;

    private async void SaveAndClose()
    {
        await settingsModel.SaveToLocalStorage();
        await BlazoredModal.CloseAsync(ModalResult.Ok(string.Empty));
    }

    protected override async Task OnInitializedAsync()
    {
        settingsModel = new SettingsModel(localStorage);
        await settingsModel.LoadFromLocalStorage();
    }

}
